/.metadata/
simleylp/.classpath
simleylp/.classpath
smileycompiler/bin/compiler/XMLWorker.class
smileycompiler/bin/compiler/Main.class
smileycompiler/.classpath
simleylp/.settings/com.github.jknack.antlr4ide.Antlr4.prefs
smileycompiler/.classpath
simleylp/.settings/com.github.jknack.antlr4ide.Antlr4.prefs
simleylp/.settings/com.github.jknack.antlr4ide.Antlr4.prefs
simleylp/.classpath
simleylp/.classpath
